body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black ;
    color:  white;
    font-size: 20px;
}
a:link {
    color: bisque;
}
a:visited {
    color: antiquewhite;
}
a:hover {
    color: cyan;
}


header{
    text-align: center;
    background-color: blue;
    padding: 10px;
    font-size: 25px;
}
caption{
    font-size: 30px;
    color: white;
    font-weight: bold;
    padding: 10px;
}
table{

    border-collapse: collapse;
    width: 100%;
    text-align: center;
    border: 1px solid white;

}